.highlight-ipynb .hll { background-color: #515151 }
.highlight-ipynb .c { color: #000 } /* Comment */
.highlight-ipynb .err { color: #f2777a } /* Error */
.highlight-ipynb .k { color: #cc99cc } /* Keyword */
.highlight-ipynb .l { color: #f99157 } /* Literal */
.highlight-ipynb .n { color: #777777 } /* Name */
.highlight-ipynb .o { color: #66cccc } /* Operator */
.highlight-ipynb .p { color: #cccccc } /* Punctuation */
.highlight-ipynb .cm { color: #999999 } /* Comment.Multiline */
.highlight-ipynb .cp { color: #999999 } /* Comment.Preproc */
.highlight-ipynb .c1 { color: #999999 } /* Comment.Single */
.highlight-ipynb .cs { color: #999999 } /* Comment.Special */
.highlight-ipynb .gd { color: #f2777a } /* Generic.Deleted */
.highlight-ipynb .ge { font-style: italic } /* Generic.Emph */
.highlight-ipynb .gh { color: #cccccc; font-weight: bold } /* Generic.Heading */
.highlight-ipynb .gi { color: #99cc99 } /* Generic.Inserted */
.highlight-ipynb .gp { color: #999999; font-weight: bold } /* Generic.Prompt */
.highlight-ipynb .gs { font-weight: bold } /* Generic.Strong */
.highlight-ipynb .gu { color: #66cccc; font-weight: bold } /* Generic.Subheading */
.highlight-ipynb .kc { color: #cc99cc } /* Keyword.Constant */
.highlight-ipynb .kd { color: #cc99cc } /* Keyword.Declaration */
.highlight-ipynb .kn { color: #66cccc } /* Keyword.Namespace */
.highlight-ipynb .kp { color: #cc99cc } /* Keyword.Pseudo */
.highlight-ipynb .kr { color: #cc99cc } /* Keyword.Reserved */
.highlight-ipynb .kt { color: #ffcc66 } /* Keyword.Type */
.highlight-ipynb .ld { color: #99cc99 } /* Literal.Date */
.highlight-ipynb .m { color: #f99157 } /* Literal.Number */
.highlight-ipynb .s { color: #99cc99 } /* Literal.String */
.highlight-ipynb .na { color: #6699cc } /* Name.Attribute */
.highlight-ipynb .nb { color: #cccccc } /* Name.Builtin */
.highlight-ipynb .nc { color: #ffcc66 } /* Name.Class */
.highlight-ipynb .no { color: #f2777a } /* Name.Constant */
.highlight-ipynb .nd { color: #66cccc } /* Name.Decorator */
.highlight-ipynb .ni { color: #cccccc } /* Name.Entity */
.highlight-ipynb .ne { color: #f2777a } /* Name.Exception */
.highlight-ipynb .nf { color: #6699cc } /* Name.Function */
.highlight-ipynb .nl { color: #cccccc } /* Name.Label */
.highlight-ipynb .nn { color: #ffcc66 } /* Name.Namespace */
.highlight-ipynb .nx { color: #6699cc } /* Name.Other */
.highlight-ipynb .py { color: #cccccc } /* Name.Property */
.highlight-ipynb .nt { color: #66cccc } /* Name.Tag */
.highlight-ipynb .nv { color: #f2777a } /* Name.Variable */
.highlight-ipynb .ow { color: #66cccc } /* Operator.Word */
.highlight-ipynb .w { color: #cccccc } /* Text.Whitespace */
.highlight-ipynb .mf { color: #f99157 } /* Literal.Number.Float */
.highlight-ipynb .mh { color: #f99157 } /* Literal.Number.Hex */
.highlight-ipynb .mi { color: #f99157 } /* Literal.Number.Integer */
.highlight-ipynb .mo { color: #f99157 } /* Literal.Number.Oct */
.highlight-ipynb .sb { color: #99cc99 } /* Literal.String.Backtick */
.highlight-ipynb .sc { color: #cccccc } /* Literal.String.Char */
.highlight-ipynb .sd { color: #999999 } /* Literal.String.Doc */
.highlight-ipynb .s2 { color: #99cc99 } /* Literal.String.Double */
.highlight-ipynb .se { color: #f99157 } /* Literal.String.Escape */
.highlight-ipynb .sh { color: #99cc99 } /* Literal.String.Heredoc */
.highlight-ipynb .si { color: #f99157 } /* Literal.String.Interpol */
.highlight-ipynb .sx { color: #99cc99 } /* Literal.String.Other */
.highlight-ipynb .sr { color: #99cc99 } /* Literal.String.Regex */
.highlight-ipynb .s1 { color: #99cc99 } /* Literal.String.Single */
.highlight-ipynb .ss { color: #99cc99 } /* Literal.String.Symbol */
.highlight-ipynb .bp { color: #cccccc } /* Name.Builtin.Pseudo */
.highlight-ipynb .vc { color: #f2777a } /* Name.Variable.Class */
.highlight-ipynb .vg { color: #f2777a } /* Name.Variable.Global */
.highlight-ipynb .vi { color: #f2777a } /* Name.Variable.Instance */
.highlight-ipynb .il { color: #f99157 } /* Literal.Number.Integer.Long */
